.projects{
    background: #ffffff;
    padding: 8rem 9%;
}

.project-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 5rem;
}

.project-card{
    width: 350px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 2rem;
    overflow: hidden;
    transition: 0.3s ease;
    padding: 2rem;
}

.project-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(13, 12, 12, 0.08);
    border-color: #4b74b9;
}

.project-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 1.5rem;
}

.project-info{
    text-align: center;
    margin-top: 2rem;
}

.project-info h3{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #1a1a1a;
}

.project-info p{
    font-size: 1.7rem;
    line-height: 2.8rem;
    margin-bottom: 2rem;
    color: #555;
}

.project-info a{
    display: inline-block;
    padding: 1rem 3rem;
    border: 2px solid #4b74b9;
    border-radius: 3rem;
    color: #4b74b9;
    font-size: 1.5rem;
    transition: 0.3s ease;
    text-decoration: none;
}

.project-info a:hover{
    background: #4b74b9;
    color: white;
    box-shadow: 0 10px 20px rgba(75,116,185,0.25);
}

/* RESPONSIVE */

@media(max-width: 768px){
    .project-card{
        width: 100%;
    }
}